@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user--container {
  background: url(https://p3.music.126.net/WvHzvmnTR9h-uWPA8lINJA==/109951164107566472.jpg)
    no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  transition: opacity 0.3s linear;
  @include flexCenter;
  flex-direction: column;
}

.m-song-title{
  height: 10%;
}
.m-song-wrap {
  height: 70%;
  width: 100%;
  display: flex;
  @include flexCenter;
  flex-direction: column;
  z-index: 9;
}

.m-song-wrap::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.img {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
}
.play_img {
  position: absolute;
  width: 100px;
  height: 100px;
}

.m-song-disc {
  position: relative;
  min-width: 530px;
  min-height: 530px;
  background: url(https://i.loli.net/2019/06/19/5d0998bb3d4c434540.png) no-repeat;
  background-position: center center;
  background-size: cover;
  @include flexCenter;
  z-index: 999;
}

.m-song-disc.play {
  animation: circling 20s infinite linear;
}

.m-song-media {
  height: 20%;
  width: 100%;
  @include flexCenter;
  z-index: 999;
}

.m-song-control {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  View {
    font-size: 64px;
    color: #fff;
  }
  .m-song-play {
    border: 1px solid;
    border-radius: 50%;
    padding: 14px 14px 14px 18px;
    @include flexCenter;
  }
}

@keyframes circling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
