.user--container {
  background: url(https://p3.music.126.net/KaWhc5Kl6Zaf11FFOQXnWg==/109951164096172574.jpg)
    no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  transition: opacity 0.3s linear;
}

.user--container:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
